<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
	    <!-- Database connection settings -->
		<property name="connection.driver_calss">com.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/meebox</property>
		<property name="connection.username">meebox</property>
		<property name="connection.password">meebox</property>
		
		<!-- JDBC connection pool settings -->
		<property name="connection.pool.size">1</property>
		
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		
		<mapping resource="cn/meebox/dns/IPv4.hbm.xml"></mapping>
		
	</session-factory>
</hibernate-configuration>